body{
  font-family: "Hiragino kaku cursive;gothic ProN","メイリオ",sans-serif;
}
h1{
  background-color: #f1f1f1;
  border-left: 4px red solid;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  width: 500px;
}
form{
  margin:0 auto;
  background-color: #fbfbfb;
  border: 3px #ebebeb solid;
  border-radius: 10px;
  width: 500px;
}
form div{
  padding: 15px;
}
.text,textarea,dropdown{
  border: 1px solid #dfdfdf;
  padding: 5px;
  color: #999;
  background-color: #fff;
}
.submit{
  background-color: #bfbfbf;
  color: white;
  padding: 4px 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
  border-bottom: solid 2px gray;
}
